[submodule "wp-content/plugins/celestia-web-raid"]
	path = wp-content/plugins/celestia-web-raid
	url = https://github.com/ezsoftware/celestia-web-raid-plugin.git
[submodule "wp-content/plugins/celestia-web-lodestone"]
	path = wp-content/plugins/celestia-web-lodestone
	url = https://github.com/ezsoftware/celestia-web-lodestone-plugin.git
[submodule "wp-content/plugins/celestia-web-duty-finder"]
	path = wp-content/plugins/celestia-web-duty-finder
	url = https://github.com/ezsoftware/celestia-web-duty-finder.git
