.overlay {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: RGBA(0,0,0,0.5);
  position: fixed;
  z-index: 9999;
}

.overlay-text-container {
  height: 150px;
  width: 350px;
  max-width: 100%;
  background-color: white;
  box-shadow: 0 0 4px white;
  top: calc(50% - 75px);
  position: absolute;
  left: calc(50% - 175px);
}

  .overlay-loader {
    background-image: url('../images/loader-spinner-32.gif');
    height: 150px;
    width: 150px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
  }

  .overlay-text {
    width: 180px;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin-left: 10px
  }

li.player-box {
    height: 100px;
}

.player-box > img {
    border-radius: 20%;
    box-shadow: 0px 0px 8px RGBA(255,255,255,0.9);
    border: 2px solid RGBA(0,0,0,0.9);
    vertical-align: top;
    float: left;
}

.player-box > span:nth-child(2) {
    font-weight: bold;
    font-size: 1.4em;
}


.player-box > span:nth-child(3) {
    font-weight: bold;
    font-size: 0.8em;
}

.player-box > span:nth-child(3)::before {
    content: 'Server: ';
}

.player-box > span {
    display: block;
    padding-left: 120px;
}

.player-box > span:nth-child(4)::before {
  content: 'FC: ';
}

.player-box > span:nth-child(4) {
    font-weight: bold;
    font-size: 0.8em;
}