.overlay {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: RGBA(0,0,0,0.5);
  position: fixed;
}

.overlay-text-container {
  height: 150px;
  width: 350px;
  max-width: 100%;
  background-color: white;
  box-shadow: 0 0 4px white, 5px 5px 3px RGBA(0,0,0,0.5);
  top: calc(50% - 75px);
  position: absolute;
  left: calc(50% - 175px);
}

  .overlay-loader {
    background-image: url('../images/loader-spinner-32.gif');
    height: 150px;
    width: 150px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
  }

  .overlay-text {
    width: 180px;
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
    margin-left: 10px
  }

